*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --blue: rgb(0,132,253);
    --lightblue: rgb(181,221,255);
    --purple: rgb(151,146,228);
    --dark: rgb(51,51,51);
    --yellow: rgb(253,193,95);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: currentColor;
}

.col-nav > i {
   display: none;
}

@media screen and (max-width: 810px) {
    
    .nav-item,
    .btn-nav {
        display: none;
    }

    .col-nav > i {
        color: white;
    }
}

/********** 
HEADER
************/

header {
    background-color: var(--blue);
    padding: 19px 0;
}

.col-nav {
    flex-direction: row;
}

.row-nav {
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.list-nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn-nav {
    border-radius: 20px;
    background-color: white;
    padding: 5px 10px;
    color: black;
}

/********** 
MAIN
************/

/* first section */

.card {
    background-color: var(--lightblue);
    padding: 20px;
    min-height: 50px;
    border: 1px solid;
    border-radius: 20px;
}